
//Header
.header{
    /*on every viewport height should be 95 % of that particular viewport height*/ 
height: 85vh;
background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),
rgba($color-primary-dark, 0.8)),
url(../img/hero-small.jpg);
background-size:cover;
background-position: top;
clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
-webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
position : relative;


@supports (clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%)) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 95vh;
}
/* width should be in em tried and tested 1em is always - 16px not affected by root font size like 1rem we set to 10px for easy calculation */
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
only screen and (min-width:125em){
    background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8),
rgba($color-secondary-dark, 0.8)),
url(../img/hero.jpg);
}

@include respond(tab-land){
    clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
}

@include respond(tab-port){
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

@include respond(tab-port){
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

&__logo-box{
    position: absolute; 
    top: 4rem;
    left:4rem;
    /* relative to its parent so make parent relative from whom u want to specify top, left, bottom etc*/
    }
    
    &__logo{
    height:4rem; 
    transition: transform 2s;
    /* specify height or width , other will be auto inferred, better to specify height */
    &:hover{
        transform: scale(1.2);
    }
    }
    
    /* h1 is the single most imp heading used for google page to know what our page is about, we cant have two */
    /*  a line break before and after them when u make it block level */ 
    
    &__heading-box{
        position:absolute;
        top:37%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    } 
}
// background gets clipped exactly where the text is
