.card{
    perspective: 150rem; //lower the value, higher the perspective effect
    -moz-perspective:150rem; 
    position: relative;
    height: 52rem;
    @media only screen and(max-width:56.25em ), only screen and (hover:none){
       height: 80rem; 
       //perspective: 0rem;
       //padding-bottom: 80rem;

    }
    &__side{
        height:52rem;
        border-radius: 3px;
        overflow: hidden;
        transition: all .8s ease; //linear otherwise by default so ease to make it ease
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
         //means when the card turn back part is not visible only back means if we rotate 360 deg front comes up so visible
        position: absolute; //when we position absolute it moves out of parents flow so now the height of parent collapse therefore col-1-3 all on each other can't use clearfix as we haven't used float. One solution is to give parent same height as that of card so .card height:40rem
        top:0;
        left:0;
        width: 100%;
        box-shadow: 0 2rem 2rem $color-box-shadow-medium;
        
        &--front{
        background-color: $color-white;
        @media only screen and(max-width:56.25em ), only screen and (hover:none){
        height: 82rem;
        }
        }

        &--back{
        transform: rotateY(180deg);
        @media only screen and(max-width:56.25em ), only screen and (hover:none){
            top:60%;
            left:0;
            transform: rotateY(0);
            height: 30rem;
            margin-top: 5rem;
            
        }

          &--1{
            
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark); 
            @include respond(tab-port){
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
     -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
   
          }
        }

          &--2{
          background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
          @media only screen and(max-width:56.25em ), only screen and (hover:none){
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
     -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
   
          }
          }

          &--3{
          background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);
          @media only screen and(max-width:56.25em ), only screen and (hover:none){
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
     -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
   
          }
          }
        }
    }
     


    &:hover &__side--front{
     transform: rotateY(-180deg); //front card's back on so hidden
     @media only screen and(max-width:56.25em ), only screen and (hover:none){
        transform: rotateY(0); 
    }
    }

    &:hover &__side--back{
     transform: rotateY(0); //back's back rotates so now it is having front face so visible
     @media only screen and(max-width:56.25em ), only screen and (hover:none){
        transform: rotateY(0); 
        //clip-path: polygon(0 60%, 100% 0, 100% 100%,0 100%);

    }
     
    }

    &__picture{
        height: 23rem;
        background-blend-mode: screen;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        @media only screen and(max-width:56.25em ), only screen and (hover:none){
        height: 30rem;
        }
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark),url(../img/nat-5.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark),url(../img/nat-6.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark),url(../img/nat-7.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        text-transform: uppercase;
      
        color: $color-white;
        font-weight: 300; 
        position: absolute;
        top:14rem;
        right:2rem;
        width:70%;
        text-align: right;

        
    }
    &__heading--span{
        
            // display: block;
            margin-top: -10px;
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break:clone;

        &--1{
            background-image: linear-gradient(to right bottom,rgba($color-secondary-light,0.8),rgba($color-secondary-dark,0.8));
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);
        }

    }

    &__details{
        padding: 3.5rem;
     
        ul{
        list-style: none;
        width: 80%;
        margin:0 auto;
        
        
            li{
             font-size: 1.5rem;
             text-align: center;
             color: $color-grey;
            padding: 0.7rem;
            border-bottom: 1px solid $color-grey-light-2;
          
            }
        }
    }

    //back part
    &__cta{
    text-align: center;
    padding-top: 12rem;
    @media only screen and(max-width:56.25em ), only screen and (hover:none){
        padding-top:6rem;
    }
    }

    &__price-box{
    color: $color-white;
    text-transform: uppercase;

    }

    &__price-only{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    @media only screen and(max-width:56.25em ), only screen and (hover:none){
        margin-bottom:1rem;
    }
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 5rem;
        @media only screen and(max-width:56.25em ), only screen and (hover:none){
            margin-bottom:2rem;
        }
        
    }
}

// filter: brightness(60%) blur(4px);
